
accelerate
bitsandbytes
datasets
duckduckgo-search
# Main version of llama-cpp-python
# due to error on unload (__del__) of the library
git+https://github.com/abetlen/llama-cpp-python.git
langchain
sentence-transformers
transformers
types-PyYAML
--pre
--index-url https://download.pytorch.org/whl/nightly/cu121
torch
torchvision
torchaudio
